/* App */
$navbar-height: 56px;
$app-min-height: calc(100vh - $navbar-height);

/* Alerting */
$app-alert-icon-size: 18px;
$app-alert-icon-margin-right: 4px;

/* Responsive */
$breakpoint-extra-small: 0px;
$breakpoint-small: 600px;
$breakpoint-medium: 900px;
$breakpoint-large: 1200px;
$breakpoint-extra-large: 1536px;

:export {
  navbarHeight: $navbar-height;
  appMinHeight: $app-min-height;
  appAlertIconSize: $app-alert-icon-size;
  appAlertIconMarginR: $app-alert-icon-margin-right;
  breakpointExtraSmall: $breakpoint-extra-small;
  breakpointSmall: $breakpoint-small;
  breakpointMedium: $breakpoint-medium;
  breakpointLarge: $breakpoint-large;
  breakpointExtraLarge: $breakpoint-extra-large;
}
